<!--

This launch file serves to test the pose_2d_ekf_node and describe some of the launch parameters.

-->

<launch>
	<!-- Armadillo Pichi parameters --> 
	<param name="diff_steer_wheel_radius" value="0.111"/>
	<param name="diff_steer_wheel_ticks_per_rev" value="960"/>
	<param name="diff_steer_wheel_distance" value="0.84"/>

	<group ns="Emulation">
		<!-- launch a bag from the SDU Pichi robot to emulate sensor input -->
		<node pkg="rosbag" name="sensors" type="play" args="--start=1 $(find pose_2d_ekf)/bags/pichi_sensors.bag" />
	</group>

	<group ns="fmSensors">
		<!-- launch conversion node to convert IntStamped messages to encoder messages -->
		<!-- (this is a temporary fix until we get all encoder messages changed to IntStamped) -->
		<node pkg="int_stamped_to_encoder" name="enc_conversion" type="encoder_converter.py" />

		<!-- Convert IMU data to imu message -->
		<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" >
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu_emulated"/>
			<param name="frame_id" value="imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		</node>

		<!-- retrieve GPS data from $GPGGA NMEA message -->
		<node pkg="gps_gpgga" name="gps_node" type="gps_gpgga_node" output="screen">
			<param name="subscribe_topic_id" value="/fmData/gps_rx" />   
			<param name="publish_topic_id" value="/fmInformation/gpgga" />
		</node>

		<!-- append UTM coordinates to the GPS data -->
		<node pkg="gpgga_to_utm" name="gps_utm_node" type="gpgga_to_utm_node" output="screen">
			<param name="subscribe_topic_id" value="/fmInformation/gpgga" />   
			<param name="publish_topic_id" value="/fmInformation/gpgga_utm" />
		</node>
	</group>

	<group ns="fmProcessors">
		<!-- calculate odometry based on encoders and IMU yaw axis orientation -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/enc_left" />
			<param name="enc_right_sub" value="/fmInformation/enc_right" />
			<param name="imu_sub" value="/fmInformation/imu_emulated" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="yaw_angle_source" value="imu_orientation"></param> 
			<!-- param name="yaw_angle_source" value="imu_angular_velocity"></param -->
			<!-- param name="imu_angular_velocity_yaw_axis" value="z"></param --> 
			<param name="vehicle_frame" value="base_footprint"></param>      
			<param name="odom_estimate_frame" value="/odom_combined"></param>      
		</node>
	</group>
</launch>
