<launch>	
	<group ns="fmExecutors">
		<node pkg="line_action_server" name="lineActionServer" type="lineGoalActionServer.py" output="screen">
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="odometry_topic" value="/fmKnowledge/pose" /> 
			<param name="odom_frame" value="/pose"/> 
			<param name="use_tf" value="False"/> 
			<param name="max_linear_velocity" value="0.5"/> 
			<param name="max_angular_velocity" value="2.5"/>
			<param name="use_dynamic_reconfigure" value="true"/>
		</node>
	</group>
</launch>
