<launch>
	<param name="robot_max_velocity" value="2.0"/>
	<param name="diff_steer_wheel_radius" value="0.159"/>
	<param name="diff_steer_wheel_ticks_per_rev" value="625"/>
	<param name="diff_steer_wheel_distance" value="3.175"/>
	
	<group ns="fmDecisionMaking">
    	<node pkg="sdu_armadillo4_abtest" name="mission_control" type="abtest.py" output="screen">
    		<param name="deadman_topic" value="/fmSignals/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="max_linear_velocity" value="0.5"/>
			<param name="max_angular_velocity" value="0.2"/>
			<param name="deadband" value="1"/>
			<param name="reduced_range" value="40"/>
			<param name="feedback_topic" value="/fmHMI/joy/set_feedback" />
			<param name="joy_topic" value="/fmHMI/joy" />
			<param name="status_topic" value="/fmData/status"/>
			<param name="publish_frequency" value="10"/>
			<param name="odom_topic" value="/fmKnowledge/pose"/>
			<param name="odom_frame" value="/pose"/>
		</node>
	</group>
	
	<group ns="fmHMI">
		<!--node pkg="pose_2d_estimator" name="robot_track_map" type="robot_track_map_node.py" output="screen" >
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="gnss_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="odom_sub" value="/fmKnowledge/encoder_odom" />
			<param name="enable_pose_track" value="true" />
			<param name="enable_gnss_track" value="false" />
			<param name="enable_odometry_track" value="false" />
			<param name="enable_pose_orientation" value="true" />
			<param name="easting_offset" value="-588784.0" />
			<param name="northing_offset" value="-6137262.0" />
			<param name="trackpoint_threshold" value="0.1" />
			<param name="map_update_frequency" value="2" />
			<param name="map_title" value="Robot track" />
			<param name="map_window_size" value="5.0" />
		</node-->
		
		<node pkg="wiimote" type="wiimote_node.py" name="remote_control" respawn="true" />
	</group>
	
	<group ns="fmExecutors">
		<node pkg="line_action_server" name="lineActionServer" type="lineGoalActionServer.py" output="screen">
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="odometry_topic" value="/fmKnowledge/pose" /> 
			<param name="use_tf" value="true"/> 
			<param name="use_dynamic_reconfigure" value="true"/> 
		</node>
	</group>

	<group ns="fmProcessors">
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/encoder_left" />
			<param name="enc_right_sub" value="/fmInformation/encoder_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="encoder_output" value="absolute"></param>  
		    <!--<param name="yaw_angle_source" value="imu_orientation"></param> -->
			<param name="yaw_angle_source" value="imu_angular_velocity"></param>
			<param name="imu_angular_velocity_yaw_axis" value="y"></param>
			<param name="vehicle_frame" value="/wheel_odom"></param>      
			<param name="odom_estimate_frame" value="/map"></param>      
		</node>
		
		<node pkg="pose_2d_estimator" name="pose_estimator" type="pose_2d_estimator_node.py" output="screen" >
			<param name="odom_sub" value="/fmKnowledge/encoder_odom" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="gga_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="pose_pub" value="/fmKnowledge/pose" />
			<param name="frame_id" value="/pose" />
			<param name="child_frame_id" value="/map" />
			<param name="ekf_initial_guess_easting" value="588784.0" />
			<param name="ekf_initial_guess_northing" value="6137262.0" />
			<param name="ekf_initial_guess_yaw" value="0.0" />
			<param name="odometry_distance_variance" value="0.000001" />
			<param name="odometry_angular_variance" value="0.0001" />
		</node>
	</group>

	<group ns="fmRobot">
		<node pkg="serial_string" type="serial_string_node" name="serial_comm_left">
			<param name="publisher_topic" value="/fmData/serial_comm_left_rx" />
			<param name="subscriber_topic" value="/fmData/serial_comm_left_tx" />
			<param name="device" value="/dev/left_belt" />
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="13" />
		</node>

		<node pkg="serial_string" type="serial_string_node" name="serial_comm_right">
			<param name="publisher_topic" value="/fmData/serial_comm_right_rx" />
			<param name="subscriber_topic" value="/fmData/serial_comm_right_tx" />
			<param name="device" value="/dev/right_belt" />
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="13" />
		</node>

	<node pkg="serial_string" name="imu_serial_string_node" type="serial_string_node" output="screen" >
		<param name="publisher_topic" value="/fmData/imu_rx" />	 
		<param name="subscriber_topic" value="/fmData/imu_tx" />
		<param name="device" value="/dev/imu" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node> 
		<node pkg="serial_string" name="gps_serial" type="serial_string_node" output="screen" >
		<param name="publisher_topic" value="/fmData/gps_rx" />	 
		<param name="subscriber_topic" value="/fmData/gps_tx" />
		<param name="device" value="/dev/gps" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node>
	</group>
	
	<group ns="fmTools">
		<node pkg="state_print" name="state_printer" type="state_printer.py" output="screen"/>
		<node pkg="tf" type="static_transform_publisher" name="gps_broadcaster" args="-588784.0 -6137262.0 0 0 0 0 world map 100"/>
		<node pkg="tf" type="static_transform_publisher" name="base_broadcaster" args="0 0 0 3.14 0 0 pose base_footprint 100"/>
		<node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0 0 0 0 0 0 pose imu_link 100"/>
	</group>
	
	
	<group ns="fmLib">
		<node pkg="sdu_armadillo4" type="sdu_armadillo4_node" name="roboteq_left" output="screen">
			<param name="cmd_vel_ch1_topic" value="/fmSignals/cmd_vel_left"/>
			<param name="serial_rx_topic" value="/fmData/serial_comm_left_rx" />
			<param name="serial_tx_topic" value="/fmData/serial_comm_left_tx" />
			<param name="deadman_topic" value="/fmSignals/deadman"/>
			<param name="encoder_ch1_topic" value="/fmInformation/encoder_left"/>
			<param name="power_ch1_topic" value="/fmData/power_left"/>
			<param name="status_topic" value="/fmData/status"/>
			<param name="mps_to_rpm" value="1302"/>
		</node>
	
		<node pkg="sdu_armadillo4" type="sdu_armadillo4_node" name="roboteq_right" output="screen">
			<param name="cmd_vel_ch1_topic" value="/fmSignals/cmd_vel_right"/>
			<param name="serial_rx_topic" value="/fmData/serial_comm_right_rx" />
			<param name="serial_tx_topic" value="/fmData/serial_comm_right_tx" />
			<param name="deadman_topic" value="/fmSignals/deadman"/>
			<param name="encoder_ch1_topic" value="/fmInformation/encoder_right"/>
			<param name="power_ch1_topic" value="/fmData/power_right"/>
			<param name="status_topic" value="/fmData/status"/>
			<param name="mps_to_rpm" value="1302"/>
		</node>
	
		<!-- IMU -->
		<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" respawn="True" >
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu"/>
			<param name="frame_id" value="/imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		 </node>
	
		<!-- GPS -->
		<node pkg="gps_gpgga" name="nmea_to_gpgga" type="gps_gpgga_node" output="screen">
	        <param name="subscribe_topic_id" value="/fmData/gps_rx" />
			<param name="publish_topic_id" value="/fmInformation/gpgga" />
		</node>
	
		<node pkg="gpgga_to_tranmerc" name="gpgga_to_tranmerc" type="gpgga_to_tranmerc_node" output="screen">
			<param name="gpgga_sub" value="/fmInformation/gpgga" />
			<param name="gpgga_tranmerc_pub" value="/fmInformation/gpgga_tranmerc" />
			<param name="transverse_mercator_a" value="6378137.0" />
			<param name="transverse_mercator_f" value="0.0033528106647474805" />
			<param name="transverse_mercator_false_easting" value="500000.0" />
			<param name="transverse_mercator_scale_factor" value="0.9996" />
			<param name="transverse_mercator_origin_latitude" value="0.0" />
			<param name="transverse_mercator_central_meridian" value="9.0" />
			<param name="transverse_mercator_false_northing" value="0.0" />
		</node>
	</group>
	
	<group ns="fmControllers">
		<node pkg="differential_ifk" type="differential_ifk_node" name="differential_ifk">
			<param name="hl_subscriber_topic" value="/fmSignals/cmd_vel" />
			<param name="ll_publisher_topic_left" value="/fmSignals/cmd_vel_left" />
			<param name="ll_publisher_topic_right" value="/fmSignals/cmd_vel_right" />
			<param name="distance_center_to_wheel" value="1.10" />
			<param name="deadmanbutton_topic" value="/fmHMI/joy" />
		</node>
	</group>
</launch>
