[submodule "joystick_drivers"]
	path = fmDependencies/joystick_drivers
	url = git@github.com:FroboLab/joystick_drivers.git
[submodule "executive_smach"]
	path = fmDependencies/executive_smach
	url = git@github.com:FroboLab/executive_smach.git
[submodule "MarkerLocator"]
	path = fmDependencies/MarkerLocator
	url = git@github.com:FroboLab/MarkerLocator.git
