# all files ending with a tilde
*~

# Ignore Python .pyc
*.pyc

# Ignore doxygen files
fmDocs/*

# Ignore top-level symbolic link to CMakeLists.txt
/CMakeLists.txt

.bag
.project
.pydevproject
.cproject
.settings/*
CATKIN_IGNORE
CMakeFiles/*
CMakeCache.txt
Makefile
catkin/*
catkin_generated/*
cmake_install.cmake
devel/*
gtest/*
