<!--
This launch file generates a simulation bag which contains output from:
	/fmKnowledge/encoder_odom
	/fmInforation/imu
	/fmInformation/gpgga
-->

<launch>
	<!-- Armadillo IV parameters --> 
	<!-- param name="diff_steer_wheel_radius" value="0.159"/ -->
	<!-- param name="diff_steer_wheel_ticks_per_rev" value="625"/ --> <!-- ticks_per_meter_left and ticks_per_meter_right used instead -->
	<param name="diff_steer_wheel_distance" value="3.175"/>

	<param name="/use_sim_time" value="true"/> 

	<group ns="fmSensors">
		<!-- extract data from $GPGGA NMEA messages transmitted by the GPS -->
		<node pkg="gps_gpgga" name="nmea_to_gpgga" type="gps_gpgga_node" output="screen">
		    <param name="subscribe_topic_id" value="/fmData/rtk_gnss_rx" />
			<param name="publish_topic_id" value="/fmInformation/gpgga_sim" />
		</node>

		<!-- append Transverse Mercator projection coordinates to NMEA $GPGGA message -->
		<node pkg="gpgga_to_tranmerc" name="gpgga_to_tranmerc" type="gpgga_to_tranmerc_node" output="screen">
			<param name="gpgga_sub" value="/fmInformation/gpgga_sim" />
			<param name="gpgga_tranmerc_pub" value="/fmInformation/gpgga_tranmerc_sim" />
			<param name="transverse_mercator_a" value="6378137.0" />
			<param name="transverse_mercator_f" value="0.0033528106647474805" /> 
			<param name="transverse_mercator_false_easting" value="500000.0" />
			<param name="transverse_mercator_scale_factor" value="0.9996" />
			<param name="transverse_mercator_origin_latitude" value="0.0" />
			<param name="transverse_mercator_central_meridian" value="9.0" />
			<param name="transverse_mercator_false_northing" value="0.0" />
		</node>
	</group>

	<group ns="fmProcessors">
		<!-- calculate odometry based on encoders and IMU yaw axis orientation -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/encoder_left_sim" />
			<param name="enc_right_sub" value="/fmInformation/encoder_right_sim" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom_sim" />
			<param name="encoder_output" value="absolute" />  
			<param name="ticks_per_meter_left" value="-620" />  
			<param name="ticks_per_meter_right" value="-620" />  
			<param name="max_ticks_per_update" value="200" />
		    <!--<param name="yaw_angle_source" value="imu_orientation" /-->
			<param name="yaw_angle_source" value="imu_angular_velocity" />
			<param name="imu_angular_velocity_yaw_axis" value="z" />
			<param name="vehicle_frame" value="base_footprint" />      
			<param name="odom_estimate_frame" value="/odom_combined" />      
		</node>
	</group>

	<group ns="fmLib">
		<!-- extract NMEA messages from serial ascii data -->
		<!--node pkg="serial_nmea" name="nmea_gps_node" type="nmea_node" output="screen">
		    <param name="str_to_msg_sub" value="/fmData/gps_rx" />   
		    <param name="str_to_msg_pub" value="/fmData/nmea_from_gps_sim" />
		    <param name="msg_to_str_sub" value="/fmData/nmea_to_gps_sim" />   
		    <param name="msg_to_str_pub" value="/fmData/gps_tx" />           
		    <param name="use_nmea_checksum" type="boolean" value="true" />
		</node -->
	</group>

	<group ns="rosbag">
		<!-- rosbag the output for simulation -->
		<node pkg="rosbag" name="record" type="record" args="-O $(find pose_2d_estimator)/simulation/sim.bag /fmKnowledge/encoder_odom_sim /fmInformation/gpgga_tranmerc_sim /fmInformation/imu /fmInformation/encoder_left_sim /fmInformation/encoder_right_sim"/>

		<!-- launch a bag from the SDU Pichi robot to emulate sensor input -->
		<node pkg="rosbag" name="sensors" type="play" args="--start=0 --rate=1 --clock $(find pose_2d_estimator)/simulation/test.bag">
			<remap from="/rosbag/clock" to="/clock"/> <!-- should not be necessary but it is...!!! -->
		</node>
	</group>
</launch>
