<!-- -->

<launch>
	<!-- Notice: Use pkg="stage" if running ROS Groovy and pkg="stage_ros" if running ROS Hydro --> 
	<node pkg="stage_ros" type="stageros" name="simulator" args="$(find frobit_v1_demo)/world/frobit.world"/>

	<node pkg="rviz" type="rviz" name="visualization"/>
	<node pkg="twist_stamped_to_twist" name="converter" type="cmd_vel_converter.py"/>	
	<node pkg="keyboard_interface" type="keyboard_node" name="keyboard"/>
    	
	<group ns="fmDecisionMakers">
		<node pkg="frobit_v1_demo" name="frobit_remote" type="remote.py">
			<param name="cmd_vel_topic" value="/fmCommand/cmd_vel" />
			<param name="deadman_topic" value="/fmCommand/deadman" />
			<param name="key_topic" value="/fmHMI/keyboard" />
			<param name="max_linear_velocity" value="3"/>
			<param name="max_angular_velocity" value="3"/>
			<param name="publish_frequency" value="5"/>
			<param name="step_size" value="0.5"/>
		</node>
	</group>
</launch>
