# Kjelds FroboScout
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTG8QR40", GROUP="dialout",MODE="0666", NAME:="wheel_left"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTG8QQQ0", GROUP="dialout",MODE="0666", NAME:="wheel_right"
#
# VectorNav VN-100 IMU ("SDU IP65 casing")
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTUTUNWH", GROUP="dialout",MODE="0666", NAME:="imu"
#
# SparkFun IMU
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTF0FAX7", GROUP="dialout",MODE="0666", NAME:="imu"
#
# VectorNav VN-100 IMU (In IP65 casing)
#SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTUTUNZP", GROUP="dialout",MODE="0666", NAME:="imu"
#
# SDU Trimble GNSS
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="AH01E1VU", GROUP="dialout",MODE="0666", NAME:="gps"
#
# Copy this file to: /etc/udev/rules.d/
#
# Example on how to retrieve FTDI serial:
#   udevadm info -a -n /dev/ttyUSB1 | grep 'serial'
