<!-- FroboMind -->

<launch>
		<node pkg="rosbag" name="sensors" type="play" args="--start=0 --rate=1 --clock $(find sdu_surveying_2014)/test.bag">
			<remap from="/rosbag/clock" to="/clock"/>
		</node>

	<group ns="fmProcessors">
		<node pkg="sdu_surveying_2014" name="survey_log" type="survey_log_node.py" output="screen" >
			<param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="gpgga_tranmerc_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="lidar_sub" value="/fmSensors/laser_msg" />
		</node>

		<node pkg="sdu_surveying_2014" name="wptnav" type="show_navigation_status_node.py"  output="screen">
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
		</node>

		<node pkg="frobit_plot" name="froboscout_plot" type="frobit_plot_node.py" output="screen" >
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="gnss_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="odom_sub" value="/fmKnowledge/encoder_odom" />
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
			<param name="plot_pose_track" value="true" />
			<param name="plot_gnss_track" value="false" />
			<param name="plot_odometry_track" value="false" />
			<param name="plot_pose_yaw" value="false" />
			<param name="map_trackpoint_threshold" value="0.02" />
			<param name="map_max_trackpoints" value="1000" />
			<param name="map_minimum_size" value="6.0" />
			<param name="map_easting_offset" value="0.0" />
			<param name="map_northing_offset" value="0.0" />
			<param name="map_update_frequency" value="20.0" />
			<param name="map_title" value="Frobit track" />
			<param name="map_window_size" value="7.0" />
			<param name="avatar_extension_front" value="0.19" />
			<param name="avatar_extension_rear" value="0.505" />
			<param name="avatar_extension_lateral" value="0.30" />
		</node>
	</group>
</launch>

