<launch>
	<!-- IMU -->
	<node pkg="serial_string" name="imu_serial_string_node" type="serial_string_node" output="screen" >
		<param name="publisher_topic" value="/fmData/imu_rx" />	 
		<param name="subscriber_topic" value="/fmData/imu_tx" />
		<param name="device" value="/dev/imu" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node> 
		
	<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" respawn="True" >
		<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
		<param name="imu_pub" value="/fmInformation/imu"/>
		<param name="frame_id" value="mast_top"/>
		<param name="use_enu" value="true"/>
		<param name="covariance_x" value="0.001"/>
		<param name="covariance_y" value="0.001"/>
		<param name="covariance_z" value="0.001"/>
	 </node>

	<!-- GPS -->
	<node pkg="serial_string" name="gps_serial" type="serial_string_node" output="screen" >
		<param name="publisher_topic" value="/fmData/gps_rx" />	 
		<param name="subscriber_topic" value="/fmData/gps_tx" />
		<param name="device" value="/dev/gps" />	
		<param name="baudrate" value="115200" />
		<param name="termination_character" value="10"/>
	</node>
		
	<node pkg="gps_gpgga" name="nmea_to_gpgga" type="gps_gpgga_node" output="screen">
        <param name="subscribe_topic_id" value="/fmData/gps_rx" />
		<param name="publish_topic_id" value="/fmInformation/gpgga" />
	</node>

	<node pkg="gpgga_to_tranmerc" name="gpgga_to_tranmerc" type="gpgga_to_tranmerc_node" output="screen">
		<param name="gpgga_sub" value="/fmInformation/gpgga" />
		<param name="gpgga_tranmerc_pub" value="/fmInformation/gpgga_tranmerc" />
		<param name="transverse_mercator_a" value="6378137.0" />
		<param name="transverse_mercator_f" value="0.0033528106647474805" /> <!-- 1/298.257223563 -->
		<param name="transverse_mercator_false_easting" value="500000.0" />
		<param name="transverse_mercator_scale_factor" value="0.9996" />
		<param name="transverse_mercator_origin_latitude" value="0.0" />
		<param name="transverse_mercator_central_meridian" value="9.0" />
		<param name="transverse_mercator_false_northing" value="0.0" />
	</node>
	
	<!-- Odometry -->
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/encoder_left" />
			<param name="enc_right_sub" value="/fmInformation/encoder_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="encoder_output" value="absolute"></param>  
		    <!--<param name="yaw_angle_source" value="imu_orientation"></param> -->
			<param name="yaw_angle_source" value="imu_angular_velocity"></param>
			<param name="imu_angular_velocity_yaw_axis" value="y"></param>
			<param name="vehicle_frame" value="/wheel_odom"></param>      
			<param name="odom_estimate_frame" value="/map"></param>      
		</node>
	
		<node pkg="pose_2d_estimator" name="pose_estimator" type="pose_2d_estimator_node.py" output="screen" >
			<param name="odom_sub" value="/fmKnowledge/encoder_odom" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="gga_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="pose_pub" value="/fmKnowledge/pose" />
			<param name="frame_id" value="/pose" />
			<param name="child_frame_id" value="/map" />
			<param name="ekf_initial_guess_easting" value="588784.0" />
			<param name="ekf_initial_guess_northing" value="6137262.0" />
			<param name="ekf_initial_guess_yaw" value="0.0" />
			<param name="odometry_distance_variance" value="0.000001" />
			<param name="odometry_angular_variance" value="0.0001" />
		</node>

</launch>
