<!-- SDU Lidar 3d demo launch file -->

<launch>
	<!--node pkg="sdu_lidar3d_demo" name="encoder" type="dmm_tech_abs_node.py" output="screen">
	</node-->

	<node pkg="sdu_lidar3d_demo" name="encoder" type="dmm_tech_abs_node" output="screen">
	</node>

	<!-- node pkg="sick_lms111" name="lidar"  type="sick_lms111_node">
		<param name="host" value="192.168.0.11" />"
		<param name="topic_id" value="/laser_lms111" />
		<param name="frame_id" value="/laser_lms111" />
	</node -->
</launch>

