<launch>
	<group ns="decision_making">
		<node pkg="sdu_pichi_surveyor" name="mission_control" type="survey.py" output="screen">
    		<param name="deadman_topic" value="/fmSignals/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="status_topic" value="/fmData/status"/>
			<param name="feedback_topic" value="/decision_making/joy/set_feedback" />
			<param name="joy_topic" value="/decision_making/joy" />
			<param name="max_linear_velocity" value="2.0"/>
			<param name="max_angular_velocity" value="4.0"/>
			<param name="deadband" value="5"/>
			<param name="reduced_range" value="50"/>
			<param name="publish_frequency" value="20"/>
			<param name="filter" value="50"/>
		</node>
		
		<!-- HMI -->
		<node pkg="wiimote" type="wiimote_node.py" name="remote_control" respawn="true">
        	<param name="fixed_wiimote_address" value="00:19:1D:91:DC:27"/>
		</node> 
		
		<node pkg="sdu_pichi" name="PID_trimmer" type="trimmer.py" output="screen" />
		</group>
		
		<node name="Plotting" pkg="rqt_plot" type="rqt_plot" args="/usageMonitor/cpu/data /usageMonitor/memory/data" respawn="false" output="screen"/>
		<node pkg="rviz" type="rviz" name="visualization"/>
		<node pkg="smach_viewer" name="stateMachine_viewer" type="smach_viewer.py"/>
</launch>
