<!--

This launch file serves as an example on how to launch the differential_odometry_node
and describes some of the launch parameters.

encoder_output options:
	relative		(encoder value is reset after each published message)
	absolute		(encoder value is published as an absolute value)

ticks_per_meter_left
ticks_per_meter_right
	Use these optional parameters if the encoder feedback is different on the left and right side.
	Defining those will override the use of diff_steer_wheel_radius and diff_steer_wheel_ticks_per_rev

max_ticks_per_update
	Relative ticks or changes in absolute ticks in two subsequent updates will be ignored if above
	this threshold.

yaw_angle_source options:
	odometry		(estimate the yaw angle from wheel odometry)
	imu_angular_velocity	(extimate the yaw angle using angular velocity from sensor_msgs/Imu.msg)
	imu_orientation		(extimate the yaw angle using orientation from sensor_msgs/Imu.msg)

imu_angular_velocity_yaw_axis options:
	x  			(ENU reference x-axis)
	-x 			(ENU reference x-axis inverted)
	y  			(ENU reference y-axis)
	-y 			(ENU reference y-axis inverted)
	z  			(ENU reference z-axis)
	-z 			(ENU reference z-axis inverted)

-->

<launch>
	<!-- Frobit parameters --> 
	<param name="diff_steer_wheel_distance" value="0.215"/>
	<param name="ticks_per_meter_left" value="-562" />
	<param name="ticks_per_meter_right" value="-562" />

	<!--param name="diff_steer_wheel_radius" value="0.051"/-->
	<!--param name="diff_steer_wheel_ticks_per_rev" value="180"/-->

	<group ns="fmProcessors">
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/encoder_left" />
			<param name="enc_right_sub" value="/fmInformation/encoder_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_reset_sub" value="/fmInformation/odom_reset" />
			<param name="odom_pub" value="/fmKnowledge/odometry" />
			<param name="encoder_output" value="relative"></param>  
			<param name="ticks_per_meter_left" value="-620"></param>  
			<param name="ticks_per_meter_right" value="-620"></param>  
			<param name="max_ticks_per_update" value="200" />
			<param name="yaw_angle_source" value="imu_angular_velocity"></param>  
			<param name="imu_angular_velocity_yaw_axis" value="z"></param> 
			<param name="vehicle_frame" value="base_footprint"></param>      
			<param name="odom_estimate_frame" value="/odom_combined"></param>      
		</node>
	</group>
</launch>
