<launch>
	<!-- Global parameters-->
	<param name="robot_max_velocity" value="1.0"/>
	<param name="diff_steer_wheel_radius" value="0.1"/>
	<param name="diff_steer_wheel_ticks_per_rev" value="960"/>
	<param name="diff_steer_wheel_distance" value="0.42"/>
	
	<group ns="transforms">
		<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0.0 0 0 0 0 base_footprint imu_link 100"/>
		<node pkg="tf" type="static_transform_publisher" name="gps_link_broadcaster" args="0 0.0 0 0 0 0 base_footprint gps_link 100"/>
		<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100"/>
		<node pkg="tf" type="static_transform_publisher" name="utm_link_broadcaster" args="588618.587034 6137287.69068 61.1023 0 0 0 utm odom_combined 100"/>	
	</group>
</launch>