<launch>
	<include file="$(find sdu_pichi_surveyor)/launch/robot.launch"/>
	<include file="$(find sdu_pichi_surveyor)/launch/action.launch"/>
	<include file="$(find sdu_pichi_surveyor)/launch/perception.launch"/>
		
	<!-- Mission control -->
	<group ns="fmDecisionMakers">
        <node pkg="wiimote" type="wiimote_node.py" name="wiimote" respawn="true">
        	<param name="fixed_wiimote_address" value="00:19:1D:91:DC:27"/>
		</node>
		
		<node pkg="sdu_pichi_surveyor" name="mission_control" type="survey.py" output="screen">
    		<param name="deadman_topic" value="/fmSafety/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="status_topic" value="/fmData/status"/>
			<param name="feedback_topic" value="/fmHMI/joy/set_feedback" />
			<param name="joy_topic" value="/fmHMI/joy" />
			<param name="odom_topic" value="/fmKnowledge/odom" />
			<param name="deadband" value="5"/>
			<param name="reduced_range" value="50"/>
			<param name="publish_frequency" value="10"/>
		</node>
	</group>
	
	<group ns="fmTools">
<!--	<node pkg="rosbag" name="sensors" type="play" args="$(find sdu_pichi_remote)/bags/sensors_only.bag" />
		<node pkg="rqt_rviz" type="rqt_rviz" name="visualization" /> -->
		<node pkg="int_stamped_to_encoder" name="enc_conversion" type="encoder_converter.py" />
	</group>
</launch>
