<launch>
	<node pkg="rviz" type="rviz" name="visualization" args="$(find sdu_pichi_surveyor)/conf/default.rviz"/>
	<node pkg="smach_viewer" name="stateMachine_viewer" type="smach_viewer.py"/>

	<group ns="transforms">
		<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 10"/>
		<node pkg="tf" type="static_transform_publisher" name="imu_link_broadcaster" args="0 0 0 0 0 0 base_link imu_link 10"/>
		<node pkg="tf" type="static_transform_publisher" name="laser_link_broadcaster" args="0.1 0 0.1 0 0 0 base_footprint laser_link 10"/>
	</group>
	
</launch>
