<launch>
	<node pkg="rviz" type="rviz" name="visualization" args="$(find sdu_pichi_surveyor)/conf/default.rviz"/>
	<node pkg="smach_viewer" name="stateMachine_viewer" type="smach_viewer.py"/>
	<node pkg="twist_stamped_to_twist" name="converter" type="cmd_vel_converter.py"/>
	
	<group ns="fmHMI">
		<node pkg="wiimote" type="wiimote_node.py" name="wiimote" respawn="true">
			<param name="fixed_wiimote_address" value="00:1F:32:B3:A2:F3"/>
		</node>
    </group>
    
</launch>