# /etc/udev/rules.d/
# Placing this file in the udev rules changes the permissions so that the tty port can be opened by ROS
# Furthermore the port can be named so that changes in the launch file can be avoided

# The white frobit:
SUBSYSTEMS=="usb", ATTRS{idVendor}=="05e3", ATTRS{idProduct}=="0608", GROUP="dialout", MODE="0666", NAME:="frobit"