<!--
-->

<launch>
	<!-- FroboMind -->	    	
	<group ns="fmSensors">
	</group>

	<group ns="fmProcessors">
	</group>

	<group ns="fmDecisionMakers">
	</group>

	<group ns="fmExecutors">
	</group>

	<group ns="fmControllers">
	</group>

	<group ns="fmLib">
		<node pkg="sdu_grassbots_2014" name="route_plan_socketd" type="route_plan_socketd_node.py" output="screen" respawn="true" >
			<param name="hmi_pub" value="/fmDecision/hmi" />
			<param name="routept_pub" value="/fmPlan/routept" />
			<param name="socket_address" value="localhost" />
			<param name="socket_port" value="8080" />
			<param name="socket_timeout" value="30" />
			<param name="socket_password" value="" />
			<param name="debug" value="true" />
		</node>
	</group>
</launch>


