<launch>
	<node pkg="rviz" type="rviz" name="visualization" args="$(find frobit)/conf/odom_viz.vcg"/>

    <group ns="fmLib">
        <node pkg="nmea" name="nmea_node" type="nmea_node" output="screen">
            <param name="str_to_msg_sub" value="/fmData/frobit_rx" />   
            <param name="str_to_msg_pub" value="/fmData/nmea_from_frobit" />
            <param name="msg_to_str_sub" value="/fmData/nmea_to_frobit" />   
            <param name="msg_to_str_pub" value="/fmData/frobit_tx" />           
            <param name="use_nmea_checksum" type="boolean" value="true" />
        </node>

		<node pkg="serial_string" name="serial_string_node" type="serial_string_node" output="screen" >
        	<param name="publisher_topic" value="/fmData/frobit_rx" />	 
        	<param name="subscriber_topic" value="/fmData/frobit_tx" />
			<param name="device" value="/dev/ttyUSB0" />	
			<param name="baudrate" value="57600" />
			<param name="termination_character" value="10"/>
		</node> 
	
		<node pkg="frobit" name="frobit_node" type="frobit_node" output="screen" >
			<param name="frobit_velocity_sub_left" value="/fmSignals/cmd_vel_left"/>
			<param name="frobit_velocity_sub_right" value="/fmSignals/cmd_vel_right"/>
			<param name="frobit_nmea_pub" value="/fmData/nmea_to_frobit"/>
            
			<param name="encoder_left_top" value="/fmInformation/encoder_left"/>
			<param name="encoder_right_top" value="/fmInformation/encoder_right"/>
            
			<param name="max_velocity" value="45" />
			<param name="wheel_diameter" value="0.105" />   
			<param name="ticks_pr_round" value="180" />
			<param name="ms_in_between" value="10" />
			<param name="vel_publish_interval" value="0.1"/>          
        	</node>
	</group>
	
	<group ns="fmControllers">
		<node pkg="differential_ifk" name="diff" type="differential_ifk_node" output="screen" >
            <param name="hl_subscriber_topic" value="/fmSignals/cmd_vel"/>
            <param name="ll_publisher_topic_left" value="/fmSignals/cmd_vel_left"/>
            <param name="ll_publisher_topic_right" value="/fmSignals/cmd_vel_right"/>
            <param name="distance_center_to_wheel" value="0.11" />
        </node>
	</group>
	
	<group ns="fmProcessors">
		<node pkg="encoder_to_odom" name="encoder_to_odom" type="encoder_imu_odom_node" output="screen" >
            <param name="publisher_topic" value="/fmKnowledge/odom"/>
            <param name="enc_r_subscriber_topic" value="/fmInformation/encoder_left"/>
            <param name="enc_l_subscriber_topic" value="/fmInformation/encoder_right"/>
            <param name="conv_ticks_to_meter_left" value="0.001833333" />
            <param name="conv_ticks_to_meter_right" value="0.001833333" />
            <param name="max_diff" value="1" />
        </node>
	</group>

    <group ns="fmDecisionMakers">
    	<node pkg="sdu_frobit_remote" name="mission_control" type="remote.py" output="screen">
    		<param name="deadman_topic" value="/fmSignals/deadman" />
			<param name="cmd_vel_topic" value="/fmSignals/cmd_vel" />
			<param name="max_linear_velocity" value="0.1"/>
			<param name="max_angular_velocity" value="0.2"/>
			<param name="deadband" value="0.1"/>
			<param name="feedback_topic" value="/fmHMI/joy/set_feedback" />
			<param name="joy_topic" value="/fmHMI/joy" />
			<param name="status_topic" value="/fmData/status"/>
			<param name="publish_frequency" value="5"/>
		</node>
	</group>
   
    <group ns="fmHMI">
        <node pkg="wiimote" type="wiimote_node.py" name="remote_control" respawn="true">
		</node>
	</group>
</launch>
