<!-- FroboMind -->

<launch>
		<node pkg="rosbag" name="sensors" type="play" args="--start=130 --rate=1 --clock $(find sdu_surveying_2014)/test.bag">
			<remap from="/rosbag/clock" to="/clock"/>
		</node>

	<node pkg="rosbag" name="rosbag_record" type="record" args="/fmKnowledge/pose_sim /fmInformation/imu /fmInformation/gpgga_tranmerc /fmKnowledge/odometry"/>

	<group ns="fmSensors">
		<!--node pkg="plot_velocity" name="plot_vel" type="plot_velocity_node.py" output="screen" >
 			<param name="velocity_sub" value="/fmCommand/cmd_vel" />
 			<param name="update_frequency" value="50" />
			<param name="plot_title" value="cmd_vel" />
			<param name="max_linear_velocity" value="1.2" />
			<param name="max_angular_velocity" value="1.0" />
			<param name="samples" value="100" />
		</node-->

		<!--node pkg="plot_propulsion_feedback_leftright" name="plot_feedback" type="plot_propulsion_feedback_leftright_node.py" output="screen" >
 			<param name="propulsion_feedback_left_sub" value="/fmInformation/wheel_feedback_left" />
 			<param name="propulsion_feedback_right_sub" value="/fmInformation/wheel_feedback_right" />
 			<param name="update_frequency" value="50" />
			<param name="plot_title" value="Wheel feedback" />
			<param name="maximum_velocity" value="1.2" />
			<param name="maximum_thrust" value="540" />
		</node-->

		<!--node pkg="sdu_surveying_2014" name="pose" type="show_pose_node.py" output="screen" >
			<param name="pose_sub" value="/fmKnowledge/pose_sim" />
			<param name="update_interval" value="0.1" />
		</node-->
	</group>

	<group ns="fmProcessors">
		<!--node pkg="sdu_surveying_2014" name="survey_log" type="survey_log_node.py" output="screen" >
			<param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="gpgga_tranmerc_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="lidar_sub" value="/fmSensors/laser_msg" />
		</node-->

		<!-- estimate robot 2d pose -->
		<node pkg="pose_2d_estimator" name="pose_estimator" type="pose_2d_estimator_node.py" output="screen" >
			<param name="odom_sub" value="/fmKnowledge/odometry" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="gga_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="pose_pub" value="/fmKnowledge/pose_sim" />
			<param name="update_rate" value="50" />
			<param name="publish_relative_pose" type="boolean" value="false" />
			<param name="ekf_initial_guess_easting" value="0.0" /> <!-- [m] if unsure set to 0.0 -->
			<param name="ekf_initial_guess_northing" value="0.0" /> <!-- [m] if unsure set to 0.0 -->
			<param name="ekf_initial_guess_yaw" value="0.0" /> <!-- [rad] if unsure set to 0.0 -->
			<param name="odometry_distance_variance" value="0.000001" /> <!-- [m/update] -->
			<param name="odometry_angular_variance" value="0.00035" /> <!-- [rad/update] -->
		</node>

		<node pkg="sdu_surveying_2014" name="wptnav" type="show_navigation_status_node.py"  output="screen">
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
		</node>

		<node pkg="frobit_plot" name="froboscout_plot" type="frobit_plot_node.py" output="screen" >
			<param name="pose_sub" value="/fmKnowledge/pose_sim" />
			<param name="gnss_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="odom_sub" value="/fmKnowledge/odometry" />
			<param name="wptnav_status_sub" value="/fmInformation/wptnav_status" />
			<param name="plot_pose_track" value="true" />
			<param name="plot_gnss_track" value="true" />
			<param name="plot_odometry_track" value="true" />
			<param name="plot_pose_yaw" value="true" />
			<param name="map_trackpoint_threshold" value="0.02" />
			<param name="map_max_trackpoints" value="1000" />
			<param name="map_minimum_size" value="6.0" />
			<param name="map_easting_offset" value="0.0" />
			<param name="map_northing_offset" value="0.0" />
			<param name="map_update_frequency" value="10.0" />
			<param name="map_title" value="Frobit track" />
			<param name="map_window_size" value="6.0" />
			<param name="avatar_extension_front" value="0.19" />
			<param name="avatar_extension_rear" value="0.505" />
			<param name="avatar_extension_lateral" value="0.30" />
		</node>
	</group>
</launch>

