<!--
This launch file simulates a SMR navigating a waypoint list.
-->

<launch>
	<!-- Simulation -->
 	<node pkg="stage" type="stageros" name="simulator" args="$(find sdu_surveying)/sim/empty.world"/>
	<node pkg="twist_stamped_to_twist" name="converter" type="cmd_vel_converter.py" output="screen">
    		<param name="deadman_sub" value="/fmCommand/deadman" />
    		<param name="cmd_vel_sub" value="/fmCommand/cmd_vel" />
   			<param name="cmd_vel_pub" value="/cmd_vel" />
	</node>
	<remap from="/fmKnowledge/pose" to="/odom" />
	<!-- node pkg="rviz" type="rviz" name="visualization" args="$(find find sdu_surveying)/conf/default.rviz"/ -->
	<!-- node pkg="smach_viewer" name="stateMachine_viewer" type="smach_viewer.py"/ -->

	<!-- node pkg="rosbag" name="rosbag_record" type="record" args="-a"/ -->

	<!-- FroboMind -->	    	
	<group ns="fmSensors">
	</group>

	<group ns="fmProcessors">
	</group>

	<group ns="fmDecisionMakers">
		<!--node pkg="sdu_surveying" name="mission" type="keyboard_mission.py" output="screen">
			<param name="keyboard_sub" value="/fmHMI/keyboard" />
			<param name="automode_pub" value="/fmDecision/automode" />
    		<param name="deadman_pub" value="/fmCommand/deadman" />
			<param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
            <param name="max_linear_velocity" value="1.0"/>
            <param name="max_angular_velocity" value="0.4"/>
            <param name="linear_velocity_step" value="0.1"/>
            <param name="angular_velocity_step" value="0.1"/>
		</node-->

		<node pkg="sdu_surveying" name="mission" type="wiimote_mission.py" output="screen">
			<param name="keyboard_sub" value="/fmHMI/keyboard" />
			<param name="automode_pub" value="/fmDecision/automode" />
    		<param name="deadman_pub" value="/fmCommand/deadman" />
			<param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
            <param name="max_linear_velocity" value="1.1"/>
            <param name="max_angular_velocity" value="0.6"/>
            <param name="max_linear_acceleration" value="1.0"/>
            <param name="max_angular_acceleration" value="0.6"/>
		</node>
	</group>

	<group ns="fmExecutors">
		<node pkg="sdu_surveying" type="waypoint_navigation_node.py" name="wptnav" output="screen">
			<param name="automode_sub" value="/fmDecision/automode" />
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="joy_sub" value="/fmLib/joy" />
			<param name="cmd_vel_pub" value="/fmCommand/cmd_vel" />
			<param name="implement_pub" value="/fmCommand/implement" />
			<param name="status_pub" value="/fmData/wptnav_status" />
			<param name="status_publish_interval" value="10" />
			<param name="print_debug_information" value="true" />

            <param name="drive_kp" value="2.0"/>
            <param name="drive_ki" value="0.2"/>
            <param name="drive_kd" value="1.0"/>
            <param name="drive_integral_max" value="0.7"/>

            <param name="turn_kp" value="5.5"/>
            <param name="turn_ki" value="0.0"/>
            <param name="turn_kd" value="0.0"/>
            <param name="turn_integral_max" value="1.0"/>

            <param name="max_linear_velocity" value="3.0"/>
            <param name="max_angular_velocity" value="0.4"/>

			<param name="wpt_default_mode" value="MCTE" />
			<param name="wpt_default_tolerance" value="0.5" />
			<param name="wpt_default_linear_velocity" value="0.5" />
			<param name="wpt_default_angular_velocity" value="0.3" />
			<param name="wpt_default_wait_after_arrival" value="0.0" />
			<param name="wpt_default_implement_command" value="0.0" />

			<param name="wpt_target_distance" value="0.5" />
			<param name="wpt_turn_start_at_heading_err" value="20.0" />
			<param name="wpt_turn_stop_at_heading_err" value="1.0" />
			<param name="wpt_ramp_down_velocity_at_distance" value="0.3" />
			<param name="wpt_ramp_down_minimum_velocity" value="0.05" />
		</node>		
	</group>

	<group ns="fmControllers">
	</group>

	<group ns="fmLib">
	 	<node pkg="keyboard_interface" type="keyboard_node" name="keyboard">
			<param name="keyboard_pub" value="/fmHMI/keyboard" />
		</node>

		<!-- plot maps of pose, gnss and odometry data as well as waypoint navigation state -->
		<node pkg="sdu_surveying" name="track_map" type="robot_track_map_node.py" output="screen" >
			<param name="pose_sub" value="/fmKnowledge/pose" />
			<param name="gnss_sub" value="/fmInformation/gpgga_tranmerc" />
			<param name="odom_sub" value="/fmKnowledge/encoder_odom" />
			<param name="wptnav_status_sub" value="/fmData/wptnav_status" />
			<param name="plot_pose_track" value="true" />
			<param name="plot_gnss_track" value="false" />
			<param name="plot_odometry_track" value="false" />
			<param name="plot_pose_yaw" value="false" />
			<param name="easting_offset" value="0.0" />
			<param name="northing_offset" value="0.0" />
			<param name="trackpoint_threshold" value="0.05" />
			<param name="map_update_frequency" value="10.0" />
			<param name="map_title" value="Robot track" />
			<param name="map_window_size" value="6.0" />
		</node>
	</group>
</launch>


