# Armadillo3
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTV9DVWT", GROUP="dialout", MODE="0666", NAME:="belt_left"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTV902Z5", GROUP="dialout", MODE="0666", NAME:="belt_right"
#
# Sensors
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTUTULPK", GROUP="dialout", MODE="0666", NAME:="imu"
# SDU low-cost L1 RTK-GPS
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", ATTRS{serial}=="FTFU073B", GROUP="dialout",MODE="0666", NAME:="gps"
#
# Copy this file to: /etc/udev/rules.d/
#
# Example on how to retrieve FTDI serial:
#   udevadm info -a -n /dev/ttyUSB1 | grep 'serial'

