<launch>
	<!-- Platform feedback -->
	<group ns="platform_feedback">
		<!-- GPS -->
		<!--node pkg="serial_string" name="gps_serial" type="serial_string_node" output="screen"  respawn="true">
			<param name="publisher_topic" value="/fmData/gps_rx" />	 
			<param name="subscriber_topic" value="/fmData/gps_tx" />
			<param name="device" value="/dev/ttyUSB1" />	
			<param name="baudrate" value="115200" />
			<param name="termination_character" value="10"/>
		</node-->

		<!-- IMU -->	
		<node pkg="vectornav_vn100" name="imu_converter"  type="vectornav_vn100_node" output="screen" >
			<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
			<param name="imu_pub" value="/fmInformation/imu"/>
			<param name="frame_id" value="imu_link"/>
			<param name="use_enu" value="true"/>
			<param name="covariance_x" value="0.001"/>
			<param name="covariance_y" value="0.001"/>
			<param name="covariance_z" value="0.001"/>
		</node>	
	</group>
	
	<!-- Platform processing -->
	<group ns="platform_processing">
		<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
			<param name="enc_left_sub" value="/fmInformation/encoder_left" />
			<param name="enc_right_sub" value="/fmInformation/encoder_right" />
			<param name="imu_sub" value="/fmInformation/imu" />
			<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
			<param name="yaw_angle_source" value="imu_angular_velocity"/>  
			<param name="imu_angular_velocity_yaw_axis" value="-d" /> 
			<param name="vehicle_frame" value="base_footprint" />      
			<param name="odom_estimate_frame" value="/wheel_odom" />      
		</node>
		
		<!--node pkg="utm_to_odom" name="gps_odometry" type="utm_to_odom_node" output="screen"> 
	    	<param name="subscribe_topic_id" value="/fmInformation/gpgga" />
			<param name="publish_topic_id" value="/fmKnowledge/gps_odom" />
			<param name="odom_frame_id" value="odom_combined" />
			<param name="child_odom_frame_id" value="gps_link" />
			<param name="receive_n_before_publish" value="10"/>
			<param name="gps_variance" value="1"/>
		</node-->
	
	 	<node pkg="occupancy_grid_updater" type="grid_updater.py" name="map" output="screen">
 		  	<param name="sensor_width" value="2.0" />
	      	<param name="sensor_length" value="1.0" />
	      	<param name="sensor_offset_x" value="0.6" />
	      	<param name="sensor_offset_y" value="0.0" />
	      	<param name="sensor_outerrange" value="0.1" />
	      	<param name="resolution" value="0.1" /> <!-- Size of cell in [m] -->
	      	<param name="perios" value="0.1" /> <!-- Frequency of node in [Hz] -->
		</node>
		
		<node pkg="occupancy_grid_updater" type="grids_combined_node" name="combiner" output="screen"/>
	</group>
</launch>
