<launch>
	<!-- start the bag to emulate sensor input -->
	<node pkg="rosbag" name="sensors" type="play" args="$(find sdu_pichi_remote)/bags/sensors_only.bag" />
	
	<!-- start necessary trasforms -->
	<node pkg="tf" type="static_transform_publisher" name="base_link_broadcaster" args="0 0 0 0 0 0 base_footprint base_link 100"/>

	<!-- Convert encoder data to odom -->
	<node pkg="differential_odometry" name="differential_odometry" type="differential_odometry_node" output="screen" >
		<param name="enc_left_sub" value="/fmInformation/encoder_left" />
		<param name="enc_right_sub" value="/fmInformation/encoder_right" />
		<param name="imu_sub" value="/fmInformation/imu" />
		<param name="odom_pub" value="/fmKnowledge/encoder_odom" />
		<param name="yaw_angle_source" value="imu_angular_velocity"></param>  
		<param name="imu_angular_velocity_yaw_axis" value="-d"></param> 
		<param name="vehicle_frame" value="base_footprint"></param>      
		<param name="odom_estimate_frame" value="/odom_combined"></param>      
	</node>
	
	<!-- Convert GPS data to odom -->
	<node pkg="gps_gpgga" name="gps_node" type="gps_gpgga_node" output="screen">
		<param name="subscribe_topic_id" value="/fmData/gps_rx" />   
		<param name="publish_topic_id" value="/fmInformation/gpgga" />
	</node>

	<node pkg="utm_to_odom" name="utm_odometry" type="utm_to_odom_node" output="screen"> 
	    <param name="subscribe_topic_id" value="/fmInformation/gpgga" />
		<param name="publish_topic_id" value="/fmKnowledge/gps_odom" />
		<param name="odom_frame_id" value="odom_combined" />
		<param name="child_odom_frame_id" value="gps_link" />
		<param name="receive_n_before_publish" value="10"/>
		<param name="gps_variance" value="1"/>
	</node>

	<!-- Convert IMU data to imu message -->
	<node pkg="vectornav_vn100" name="imu_node"  type="vectornav_vn100_node" output="screen" >
		<param name="vectornav_vn100_sub" value="/fmData/imu_rx"/>
		<param name="imu_pub" value="/fmInformation/imu"/>
		<param name="frame_id" value="imu_link"/>
		<param name="use_enu" value="true"/>
		<param name="covariance_x" value="0.001"/>
		<param name="covariance_y" value="0.001"/>
		<param name="covariance_z" value="0.001"/>
	</node>
	

</launch>
